body {
    background-color: rgb(0, 0, 0);
}

a {
    color:#000000;
}

nav {
    display: flex;
    background-color: red;
    border: 5px solid #000000;
}

#Ouroboros {
    height: 256px;
    width: 256px;
    border-right: 5px solid #000000;
}

nav li{
    height: 25%;
}

article {
    display: flex;
    background-color: black;
    color: black;
    max-width: 95%;
    padding-bottom: 5px;
    margin: auto;

}

.book {
    background-color: red;
    color: black;
    margin: 60px;
    border: 5px solid rgb(84, 0, 0);
}

.book img {
    display: block;
    width: 140px;
    height: 220px;
    margin: auto;
}

h2 {
    height: 5%;
    text-align:center;
}

h3 {
    background-color: black;
    color: red;
    width: 90%;
    text-align: center;
    margin: auto;
    border: 5px solid rgb(84, 0, 0);
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: auto;
}

.grid-item {
    display: grid;
    background-color: red;
    border: 5px solid #000000;
    text-align: center;

}

.grid-item button {
    background-color: red;
    border: 1px solid black;
}

.grid-item img {
    border: 5px solid black;
    margin: auto;
}

 /* The Modal (background) */
 .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: red;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid black;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  } 

  #edbio .modal-content {
    background-color: blue;
    color: white;
  }

  #lsbio .modal-content {
    background-color: goldenrod;
  }

  #axbio .modal-content {
    background-color: purple;
    color: white;
  }

  #dkbio .modal-content {
    background-color: green;
  }

  #fkbio .modal-content {
    background-color: rgb(0, 158, 108);
  }

  #lgbio .modal-content {
    background-color: gray;
  }

  #pdbio .modal-content {
    background-color: white;
  }

  #kmbio .modal-content {
    background-color: cyan;
  }

  #cmbio .modal-content {
    background-color: magenta;
  }

  #mmbio .modal-content {
    background-color: orange;
  }

  #tmbio .modal-content {
    background-color: rgb(0, 0, 74);
    color: white;
  }

